@media screen and (max-width: 480px) {
  .row {
    width: 100%;
  }
  #concept, #schedule, #college, #dept, #organize, #advise, #patron {
    margin-left: 15px;
  }
  .container {
    padding-right: 0px
  }
  .projects-holder {
  	padding: 30px 0px 0px 0px;
  }
  .container {
    padding-right: 0px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7,
  .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
  }
}
@media screen and (min-width: 769px) and (max-width: 779px) {
  .container {
    width: 100%;
  }
  .navbar-collapse {
    padding-right: 0px;
  }
}
@media screen and (min-width: 780px) {
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%
  }
}
/* UNCOMMENT AND EDIT THE FOLLOWING SECTION IF YOU WANT TO CENTER PATRON AND CONVENER DIVS IN DESKTOP MODE
@media screen and (min-width: 800px) {
  #concept, #college, #dept {
    margin-right: 15px;
  }
  #move_middle {
    margin-left: 40%
  }
  #move_right {
    margin-left: 35%
  }
}
*/
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 99999;
	position: fixed;
	top: 3%;
	left: 20%;
	right: 20%;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
